.search-bar {
  margin: 25px 0;
}

.search-bar input {
  width: 100%;
  padding: 14px 18px;

  font-size: 16px;

  border: 1px solid #d1d5db;
  border-radius: 10px;

  outline: none;

  transition: 0.3s;
}

.search-bar input:focus {
  border-color: #003b5c;
  box-shadow: 0 0 5px rgba(0, 59, 92, 0.3);
}