.header {
  background-color: #003b5c;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 40px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-icon {
  font-size: 2rem;
}

.logo strong {
  display: block;
  font-size: 1.3rem;
}

.logo small {
  display: block;
  font-size: 0.8rem;
  color: #dbeafe;
}

nav {
  display: flex;
  gap: 30px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: #ffd54f;
}

nav a.active {
  color: #ffd54f;
  border-bottom: 2px solid #ffd54f;
  padding-bottom: 4px;
}